body {
    padding-top: 70px;
    font-family: $font-family-sans-serif;
    background: $body-bg url('/img/bg_noise.png');
    color: $text-color;
}

.panel-default {
    @include panel-variant(#000, $panel-default-text, $panel-default-heading-bg, $gray-dark);

    background-color: $panel-bg;
}

.well {
    @extend .well;

    background-color: #1a1a1a;
    box-shadow: inset 0 1px 0 #2d2d2d;
    text-shadow: #000 0 0 0;
}

.tri-bg{
    background-image: url('/img/triangles.png');
}

.metal-bg {
    background-image: url('/img/metal_brush.png');
}

.nav-pills {
    @extend .nav-pills;
    &::after{
        content: '';
        position: relative;
        bottom: 4px;
        width: 100%;
        border-radius: 0;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: $gray;
    }
    > li {
        z-index: 1;
        > a {
            border-radius: 0;
            border-width: 0;
            font-weight: bold;
            text-decoration: none;
            background-color: transparent !important;
            &:hover,
            &:focus {
                border-bottom-style: solid;
                border-bottom-width: 4px;
                border-bottom-color: $brand-danger-light;
            }
        }

        &.active > a {
            border-bottom-style: solid;
            border-bottom-width: 4px;
            border-bottom-color: $brand-danger;
            &:hover,
            &:focus {
                border-bottom-color: $brand-danger-light;
            }
        }
    }
}

.thread-well {
    @extend .well;
    @extend .well-sm;
    @include clearfix;

    margin-bottom: 0;
    background-color: transparent !important;

    > .likes {

        .input-group {
            border: 1px solid $gray-darker;
            border-radius: $border-radius-base;
            box-shadow: inset 0 0 6px #000;
            background-color: $gray-dark;

            .input-group-btn button {
                height: 3.5em;
            }
            p {
                // height: 3.5em;
                border-left: 1px solid $gray-darker;
                border-left-radius: 0;
                // font-size: 1.4em;
                line-height: 1.75em;
            }
        }
    }
    > .content {
        > h3 {
            margin: 0;
        }
        > small {
        }
    }
    > .bump {
        height: 3.5em;
        padding-right: 0;
        border: 1px solid $gray-darker;
        border-radius: $border-radius-base;
        box-shadow: inset 0 0 6px #000;
        &:hover {
            border-color: $gray;
        }
    }

}



.uppercase {
    text-transform: uppercase;
}

.btn {
    @extend .metal-bg;
}

.well-depth {
    border: 1px solid black;
    border-radius: 0;

}

.well-depth-light {
    @extend .well-depth;
    border-color: $gray-lighter;
}

